h1 {
    text-align: center;
    font-family: Georgia;
}

.search {
    margin: 15px 20%;
    width: 60%;
    height: 30px;

}

.add-contact-div {
    position: absolute;
    right: 0;
}

input, button {
    border: none;
    border-bottom: 2px solid rgba(58, 11, 231, 0.356);
}

#container {
    margin: 0 20%;
    border: 1px solid rgba(58, 11, 231, 0.356);
    border-radius: 4px;
}

h3 {
    background: gray;
    height: 35px;
}

li {
    list-style-type: none;
    color: rgb(13, 163, 80);
    border-bottom: 1px solid rgba(58, 11, 231, 0.356);
    height: 30px;
    padding-top: 10px;
}

.hide {
    display: none;
}